body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    padding: 20px;
}
.menu{
    width:80%;
    background-color: burlywood;
    max-width: 500;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;
    padding-top: 30px;
    margin-bottom: 0;
}
.established{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    font-style: italic;
}
hr{
    background-color: brown;
}
h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}
.item p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 18px; 
   margin-top: 5px;
   margin-bottom: 5px;
   display: inline-block;
}
.flavour{
    text-align: left;
    width:75%;
}
.price{
    text-align: right;
    width:25%;
}
footer{
    text-align: center;
    color: black;
    padding-bottom: 20px;
}
a{
    color:black;
}
a:active{
    color: brown;
}

a:visited{
    color: brown;
}