h1{
	font-family: Arial Black;
	margin-bottom: 0;
	font-size: 34px;
}
h1, hr{
	text-align: center;
	margin-top: 0;
}

hr{
	width:280px;
}
h4,.calories{
display: inline;
}

.left{
margin-left: 40px;
}

.calleft{
	font-size: 40px;
	margin: 0 0 0 0;
}

.leaflet{
	width:100%;
	max-width:300px;
	min-width:300px;
	border: 1px solid black;
	margin: 0 auto;
}

p,h4,h5, .calories{
	font-family: Tahoma;
	margin: 2px 10px;
}

.second{
	height:6px;
	background-color: Black;
}

.calories{
	font-family: Arial;
	font-size: 30px;
}