html{
    font-size: 16px;
}
body{
    font-family: sans-serif;
}
.label{
    width:270px;
    border: 1px solid black;
    margin:20px auto;
}

header h1{
    font-weight: 800;
    letter-spacing: 0.15px;
    margin:0 auto;
    text-align: center;
}

.divider{
    border-bottom: 1px solid #888989;
    margin: 0 4px;
}

p{
    display: flex;
    justify-content: space-between;
    margin:0;
}

.bold{
    font-weight: 800;
}

.larger{
    height: 7px;
}
