*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    height: 100vh;
  }
  h1, p, li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  p, li{
    font-size: 20px;
    margin: 1rem 0;
    padding-bottom: 1rem;
  }
  footer{
    font-size: 24px;
    margin: 2rem 0;
    padding-bottom: 3rem;
  }
  .bold{
    font-weight: 800;
  }
  
  #main{
    width: 80%;
    background-color: rgb(220,220,220);
    margin: 20px auto;
  }
  header, h2, p, footer{
    text-align: center;
  }
  header{
    
    margin: 0 auto;
    padding: 10px 0;
  }
  #img-div{
    background-color: #ffffff;
    width: 90%;
    height: auto;
    margin: 0 auto;
    
  }
  #image{
    width: 80%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  #img-caption{
    margin: 10px auto;
    text-align: center;
  }
  img{
    display:block;
  }
  .tribute-info{
    display: flex;
    justify-content: center;
  }